<div class="slideshow-container" >
          <div class="mySlides fade" >
             <div class="numbertext">1 / 3</div>
             <img style="margin-left:20%;width:70%; height:50%" src="https://thumb1.shutterstock.com/display_pic_with_logo/64260/150290684/stock-photo-healthcare-medical-and-technology-doctor-showing-something-patient-on-tablet-pc-in-hospital-150290684.jpg" >
             <div class="text">Caption Text</div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img style="margin-left:20%;width:70%; height:50%" src="https://thumb7.shutterstock.com/display_pic_with_logo/187633/187633,1316906215,1/stock-photo-doctor-with-female-patient-85934113.jpg" >
            <div class="text">Caption Text</div>
          </div>
          <div class="mySlides fade">
              <div class="numbertext">3 / 3</div>
              <img style="margin-left:20%;width:70%; height:50%" src="https://thumbs.dreamstime.com/z/doctor-patient-hospital-healthcare-medical-concept-nurse-measuring-blood-pressure-32589302.jpg" >
              <div class="text">Caption Text</div>
          </div>
</div>
<br/>
<div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
</div>
<br/>
<div style="margin:auto;text-align:center;display:block;">
    <button type="submit" ng-click = "checkIn()" class="btn btn-success">Check In </button>
    <button type="submit" class="btn btn-success" ng-click="patient()">New Patient</button>
</div>
